In [108]:
%matplotlib inline
import pandas as pd

"""
fsrc = open("530bis.csv", 'r')
fout = open("530out.csv", 'w')
fl = fsrc.readlines()
prem, flines = fl[0], fl[1:]
fsrc.close()

feats, other, myindex = [], [], []
for s in flines:
    reponse = s.split(sep='"",""')
    if len(reponse) <= 1 :
        other.append(reponse)
        print("autre", reponse)
    else:
        reponse[-1] = reponse[-1][:-3]
        print("avant", reponse, sep="\n")
        if reponse[0][1] == '2':
            date, an = reponse[0].split(sep=',""')
            feats.append([an] + reponse[1:-1])
            myindex.append(date[1:])
            print(reponse[-1])
            print("après", feats[-1], sep="\n")
            
names = prem.split(sep='"",""')
mycolumns = ['année', 'rentrée17', 'genre', 'étranger', 'week-end', 'communauté', \
             'fête', 'travail', 'couche-tard', 'calme', 'profil', 'retrouve']

pd.DataFrame(feats, index=myindex, columns=mycolumns)
"""

mycolumns = ['date', 'genre', 'etranger', 'week-end', 'communauté', 'fête', 'travail', 'couche-tard', 'calme', 'profil',
             'retrouve', 'newcat', 'scol1718', 'campus17s2' ]

df_questionnaire = pd.read_csv("./rep_form_4avril.csv", 
                               skiprows = [0,1,2], # réponses tests et questions
                               usecols=[0,1,2,3,5,6,7,8,9,11,12,13,15,16], # - questions enlevées, bug et commentaires
                               names=mycolumns)
df_questionnaire

,date,genre,etranger,week-end,communauté,fête,travail,couche-tard,calme,profil,retrouve,newcat,scol1718,campus17s2
0,04/04/2017 20:01:09,Un homme,Non,4,10,10,2,3,0,Colibri,Non,NaN,Deuxième année du Cursus Centralien,Oui
1,04/04/2017 20:01:13,Un homme,Non,3,5,7,5,2,4,Panda,Oui,NaN,Année de Césure,Non
2,04/04/2017 20:01:25,Un homme,Non,5,10,10,7,5,1,Colibri,Oui,NaN,Deuxième année du Cursus Centralien,Oui
3,04/04/2017 20:01:35,Un homme,Non,1,8,6,3,5,3,Panda,Oui,NaN,Année de Césure,Oui
4,04/04/2017 20:01:38,Un homme,Non,3,10,10,0,5,2,Colibri,Oui,NaN,Année de Césure,Non
5,04/04/2017 20:01:42,Un homme,Oui,5,8,7,2,5,1,Panda,Oui,NaN,Deuxième année du Cursus Centralien,Oui
6,04/04/2017 20:01:56,Un homme,Non,3,5,5,5,2,2,Panda,Oui,NaN,Année de Césure,Non
7,04/04/2017 20:02:02,Un homme,Non,2,6,7,5,4,3,Panda,Oui,NaN,Deuxième année du Cursus Centralien,Oui
8,04/04/2017 20:02:07,Une femme,Non,5,9,9,2,4,1,Colibri,Oui,NaN,Deuxième année du Cursus Centralien,Oui
9,04/04/2017 20:02:11,Un homme,Non,0,0,0,9,0,5,Koala,Oui,NaN,Deuxième année du Cursus Centralien,Oui
10,04/04/2017 20:02:11,Un homme,Non,0,0,0,0,0,0,Koala,Oui,NaN,Année de Césure,Non
11,04/04/2017 20:02:14,Un homme,Non,3,7,7,5,4,3,Panda,Oui,NaN,Deuxième année du Cursus Centralien,Oui
12,04/04/2017 20:02:23,Un homme,Non,1,10,6,9,0,1,Panda,Non,NaN,Troisième année du Cursus Centralien,Oui
13,04/04/2017 20:02:29,Un homme,Non,1,5,2,7,4,3,Koala,Oui,NaN,Troisième année du Cursus Centralien,Oui
14,04/04/2017 20:02:29,Un homme,Non,4,6,6,8,1,3,Panda,Oui,NaN,Deuxième année du Cursus Centralien,Oui
15,04/04/2017 20:02:31,Un homme,Non,2,7,7,7,3,4,Panda,Oui,NaN,Année de Césure,Non
16,04/04/2017 20:02:33,Un homme,Non,5,8,2,8,0,4,Panda,Oui,NaN,Troisième année du Cursus Centralien,Non
17,04/04/2017 20:02:36,Une femme,Non,5,10,10,8,5,1,Colibri,Oui,NaN,Année de Césure,Non
18,04/04/2017 20:02:37,Un homme,Non,3,7,7,7,3,3,Panda,Oui,NaN,Deuxième année du Cursus Centralien,Oui
19,04/04/2017 20:02:47,Un homme,Non,0,7,7,3,3,2,Panda,Oui,NaN,Année de Césure,Non
20,04/04/2017 20:02:47,Un homme,Oui,5,0,0,7,0,5,Koala,Oui,NaN,Deuxième année du Cursus Centralien,Oui
21,04/04/2017 20:02:51,Un homme,Oui,5,10,10,2,5,1,Colibri,Oui,NaN,Deuxième année du Cursus Centralien,Oui
22,04/04/2017 20:03:07,Un homme,Non,2,10,10,3,5,0,Colibri,Oui,NaN,Deuxième année du Cursus Centralien,Oui
23,04/04/2017 20:03:10,Un homme,Oui,4,8,10,7,3,2,Panda,Oui,NaN,Deuxième année du Cursus Centralien,Oui
24,04/04/2017 20:03:19,Un homme,Oui,5,8,7,6,2,3,Panda,Oui,NaN,Deuxième année du Cursus Centralien,Oui
25,04/04/2017 20:03:30,Un homme,Non,1,5,5,2,4,3,Panda,Oui,NaN,Deuxième année du Cursus Centralien,Oui
26,04/04/2017 20:03:39,Une femme,Oui,5,1,1,9,2,5,Koala,Oui,NaN,Année de Césure,Oui
27,04/04/2017 20:03:44,Une femme,Oui,4,7,2,7,3,3,Panda,Non,Je suis extrêmement impliquée dans la vie asso...,Année de Césure,Oui
28,04/04/2017 20:03:45,Un homme,Oui,5,3,2,0,5,4,Koala,Non,Rienta,Deuxième année du Cursus Centralien,Oui
29,04/04/2017 20:03:50,Un homme,Oui,0,5,5,5,3,2,Koala,Oui,NaN,Année de Césure,Non
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,07/04/2017 11:52:42,Un homme,Non,4,8,7,5,3,4,Panda,Oui,NaN,Année de Césure,Non
502,07/04/2017 13:35:39,Un homme,Non,5,8,2,5,1,4,Panda,Oui,NaN,Deuxième année du Cursus Centralien,Oui
503,07/04/2017 15:51:23,Un homme,Non,3,10,8,7,5,2,Panda,Oui,NaN,Deuxième année du Cursus Centralien,Oui
504,07/04/2017 20:46:42,Un homme,Non,4,7,7,8,4,3,Panda,Oui,NaN,Année de Césure,Non
505,08/04/2017 07:32:19,Une femme,Non,0,10,10,5,4,1,Colibri,Oui,NaN,Troisième année du Cursus Centralien,Non
506,08/04/2017 10:38:06,Un homme,Non,0,8,2,3,0,3,Panda,Oui,NaN,Deuxième année du Cursus Centralien,Oui
507,08/04/2017 18:36:47,Un homme,Non,3,5,3,2,3,4,Panda,Oui,NaN,Année de Césure,Oui
508,09/04/2017 10:49:49,Un homme,Non,2,8,8,6,4,2,Colibri,Non,NaN,Deuxième année du Cursus Centralien,Oui
509,09/04/2017 16:20:30,Un homme,Non,2,8,8,7,3,3,Panda,Oui,NaN,Année de Césure,Non
510,09/04/2017 19:41:57,Un homme,Non,3,9,9,7,4,2,Colibri,Oui,NaN,Année de Césure,Non
511,09/04/2017 20:20:40,Un homme,Non,4,8,5,8,2,2,Panda,Non,NaN,Troisième année du Cursus Centralien,Oui
512,10/04/2017 00:04:08,Un homme,Oui,5,7,6,8,5,3,Panda,Oui,NaN,Troisième année du Cursus Centralien,Oui
513,10/04/2017 18:11:07,Un homme,Non,5,8,7,7,4,3,Panda,Oui,NaN,Deuxième année du Cursus Centralien,Oui
514,11/04/2017 10:48:48,Un homme,Non,5,10,8,7,4,1,Colibri,Oui,NaN,Troisième année du Cursus Centralien,Non
515,11/04/2017 13:08:33,Un homme,Oui,3,8,5,7,3,3,Panda,Oui,NaN,Deuxième année du Cursus Centralien,Oui
516,11/04/2017 18:53:24,Un homme,Non,1,7,7,4,3,3,Panda,Oui,NaN,Deuxième année du Cursus Centralien,Oui
517,12/04/2017 07:18:00,Un homme,Non,3,6,3,3,3,4,Panda,Oui,NaN,Année de Césure,Non
518,12/04/2017 14:33:39,Un homme,Non,0,8,5,9,2,4,Panda,Oui,NaN,Troisième année du Cursus Centralien,Oui
519,12/04/2017 17:48:19,Un homme,Non,5,7,4,8,2,3,Koala,Oui,NaN,Troisième année du Cursus Centralien,Oui
520,15/04/2017 08:21:01,Un homme,Oui,5,4,5,8,4,4,Panda,Oui,NaN,Troisième année du Cursus Centralien,Oui
521,16/04/2017 19:47:40,Un homme,Non,1,8,2,3,2,5,Panda,Oui,NaN,Deuxième année du Cursus Centralien,Oui
522,17/04/2017 19:23:04,Un homme,Oui,3,8,8,3,5,1,Panda,Oui,NaN,Deuxième année du Cursus Centralien,Oui
523,18/04/2017 03:57:50,Une femme,Oui,3,2,1,5,1,4,Panda,Oui,NaN,Troisième année du Cursus Centralien,Oui
524,18/04/2017 14:50:51,Un homme,Non,5,10,7,7,4,3,Panda,Oui,NaN,Deuxième année du Cursus Centralien,Oui
525,18/04/2017 22:16:52,Un homme,Non,5,5,5,8,4,4,Panda,Oui,NaN,Troisième année du Cursus Centralien,Oui
526,19/04/2017 19:40:26,Un homme,Non,2,7,8,5,5,3,Panda,Oui,NaN,Deuxième année du Cursus Centralien,Oui
527,23/04/2017 10:58:09,Un homme,Non,5,9,6,3,4,0,Panda,Oui,NaN,Deuxième année du Cursus Centralien,Oui
528,24/04/2017 14:36:42,Une femme,Oui,1,7,1,10,0,5,Panda,Oui,NaN,Deuxième année du Cursus Centralien,Oui
529,26/04/2017 12:45:18,Un homme,Non,4,3,3,7,0,4,Panda,Oui,NaN,Deuxième année du Cursus Centralien,Oui
530,29/04/2017 22:55:33,Une femme,Oui,4,2,5,7,1,4,Panda,Oui,NaN,Deuxième année du Cursus Centralien,Oui

In [109]:
fout.close()